.footer {
  background-color: #0a2850;
  color: #fff;
}

.footer__content {
}

.footer__circle {
  background-color: #2f80ed;
  border-radius: 50%;
  z-index: -1;
  max-width: 340px;
  max-height: 340px;
}

.footer__logo {
}

.footer__social {
}

.footer__social-heading {
}

.footer__list {
  list-style-type: none;
}

.footer__list-item {
}

.footer__social-icon {
}

.footer__social-link {
  color: #fff;
  opacity: #c1c1c1;
}

.footer__copyright {
}
