.footer {
  background-color: #0a2850;
}

.footer__content {
}

.footer__circle {
  background-color: #2f80ed;
}

.footer__logo {
}

.footer__social {
}

.footer__social-heading {
}

.footer__list {
  list-style-type: none;
}

.footer__list-item {
}

.footer__social-icon {
}

.footer__social-link {
}

.footer__copyright {
}
